# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=admin
MYSQL_DATABASE=dwh_university
MYSQL_PORT=3306

# Gemini API Configuration
GOOGLE_API_KEY=AIzaSyDVj136W58hHxh_dSuKSUtEXmLlEZ0_PbQ
a=AIzaSyAgGWppSdjUoZQDEu9t86XEoIgZ4d7LD60

# Flask Configuration
SECRET_KEY=your-secret-key-here